[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
hug = "~=2.6.1"
pydantic = "~=1.7.4"
pymongo = "~=3.11.2"
jinja2 = "~=2.11.2"

[dev-packages]
flake8 = "~=3.8"

[requires]
python_version = "3.9"

[scripts]
start = "hug -m logcord"
lint = "flake8 ."
